* {
  font-family: MesloLGS NF;
  font-size: 0.9rem;
}
.bar {
  background-color: rgba(40, 40, 40, 0.8);
  padding: 10px;
}

.window_title {
  // border: 1px solid red;
  margin: 5px;
  padding: 5px;
  color: #ebdbb8;
  background-color: #383838;
}
