* {
  font-family: MesloLGS NF;
  font-size: 0.9rem;
}

.bar {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
}

.bar > * {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: #ebdbb8;
  background-color: rgba(48, 48, 48, 0.9);
}

.window_title {
  // max-width: 50%;
}
