__pycache__/

# nvchad stuff
nvim/plugin/
nvim/lazy-lock.json

# don't commit device-specific hyprland configs
hypr/vfr.conf

# managed by home-manager or just random things I don't want to track
bat/
btop/
Code/
dconf/
environment.d/
fontconfig/
foot/
gammastep/
git/
gtk-*/
hypr/
mako/
mimeapps.list
nomacs/
onlyoffice/
pulse/
QtProject.conf
syncthing/
systemd/
