[submodule "nvim/pack/github/start/copilot.vim"]
	path = nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "nvim/pack/coc/start/coc.nvim"]
	path = nvim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
