__pycache__/
nvim/plugin/

# don't commit device-specific hyprland configs
hypr/vfr.conf

# managed by home-manager
bat/
btop/
Code/
dconf/
environment.d/
fontconfig/
foot/
git/
gtk-*/
mako/
mimeapps.list
pulse/
systemd/
