* {
    font-family: MesloLGS NF;
    font-size: 13px;
    margin-top: 1px; /* keep things off the top area, since flexbox doesnt work for centering */
    color: #ebdbb2;
}

window#waybar {
    background-color: rgba(39, 39, 39, 0.55); /* this is #272727 in hex, but with alpha */
    border-top: 3px solid #b5740a;
}

widget * {
  background-color: rgba(48, 48, 48, 0.6); /* #383838 */
}

widget > * {
    padding: 0 10px;
    margin: 1px 4px;
}

.modules-left, .modules-center, .modules-right {
  padding: 6px 8px;
}

#workspaces {
    padding: 2px 5px;
}

#workspaces button {
    padding: 0;
    background: transparent;

    border-bottom: 3px solid transparent;
}

#workspaces .active * {
  background-color: rgba(79, 79, 79, 0.8); /* #4f4f4f */
  color: #c5841a;
}

@keyframes pulse-green {
  to {
    background-color: #008038;
  }
}

#battery.charging {
    animation-name: pulse-green;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse-red {
  to {
    background-color: #cf3030;
  }
}

#battery.warning:not(.charging) {
    animation-name: pulse-red;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
