@import '../vars.scss';

.horizontal > box > box.low_battery {
  animation: low_battery_pulse 1s linear infinite;

  * {
    font-weight: bold;
    color: #ffefcc;
  }
}

.horizontal > box > box.charging_battery {
  animation: charging_battery_pulse 5s linear infinite;
}

@keyframes low_battery_pulse {
  0% {
    background-color: $widget-bg;
  }

  40% {
    background-color: #aa0000;
  }

  50% {
    background-color: #683838;
  }

  60% {
    background-color: #aa0000;
  }

  100% {
    background-color: $widget-bg;
  }
}

@keyframes charging_battery_pulse {
  0% {
    background-color: $widget-bg;
  }

  50% {
    background-color: #006600;
  }

  100% {
    background-color: $widget-bg;
  }
}

.horizontal > box > box.volume_muted {
  :not(.icon) {
    color: #9b8b68;
    text-decoration: line-through;
  }
}

