@import 'vars.scss';

* {
  font-family: MesloLGS NF;
  font-size: 0.9rem;
  color: #ebdbb8;
}

.icon {
  font-size: 1.5rem;
  padding: 0 9px;
}

.bar, .bar2 {
  background-color: rgba(0, 0, 0, 0);
}

.horizontal {
  padding: 0 5px;
}

.workspaces, .horizontal > box > box, .window_title {
  border: $bar-element-border;
  border-radius: 5px;

  margin: 5px;
  padding: 2px 5px;

  background-color: rgba(48, 48, 48, 0.9);
}

.workspaces {
  border: none;
  background-color: rgba(0, 0, 0, 0)
}

.workspaces > * {
  border: $bar-element-border;
  background-color: rgba(48, 48, 48, 0.9);

  padding: 2px 3px;
}
