@import 'vars.scss';

* {
  font-family: MesloLGS NF;
  font-size: 0.85rem;
  color: #ebdbb8;
}

.icon {
  font-family: 'Symbols Nerd Font Mono';
  font-size: 1.1rem;
  padding: 0 5px;
  color: #cbbb98;
}

.bar, .bar2 {
  background-color: rgba(0, 0, 0, 0);
}

.horizontal {
  padding: 0 5px;
}

.workspaces, .horizontal > box > box, .window_title {
  border: $bar-element-border;
  border-radius: 5px;

  margin: 5px 2px;
  padding: 2px 5px;

  background-color: rgba(48, 48, 48, 0.9);
}

.workspaces {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.workspaces > * {
  border: $bar-element-border;
  background-color: rgba(48, 48, 48, 0.9);

  padding: 2px 3px;
}

.horizontal > box > box.low_battery {
  animation: low_battery_pulse 1s linear infinite;

  * {
    font-weight: bold;
    color: #ffefcc;
  }
}

@keyframes low_battery_pulse {
  0% {
    background-color: rgba(48, 48, 48, 0.9);
  }

  40% {
    background-color: #aa0000;
  }

  50% {
    background-color: #683838;
  }

  60% {
    background-color: #aa0000;
  }

  100% {
    background-color: rgba(48, 48, 48, 0.9);
  }
}
