$bar-element-border: 1px solid rgba(215, 153, 33, 0.5);
$widget-bg: rgba(48, 48, 48, 0.9);
$window-bg: rgba(0, 0, 0, 0);

$active-workspace-bg: rgba(70, 70, 70, 0.9);
$active-workspace-transition: 350ms ease-in-out;
$active-workspace-border: 2.5px solid rgba(215, 153, 33, 0.5);

$volume-mute-transition: 350ms ease-in-out;
