@-moz-document domain(discord.com) {
  .theme-dark {
    --header-primary: #ebdbb8 !important;
    --header-secondary: #ae9e7b !important;

    --interactive-normal: #ebdbb8 !important;
    --interactive-hover: #ebdbb8 !important;
    --interactive-active: #eedebb !important;

    --text-normal: #ebdbb8 !important;
    --text-muted: #ae9e7b !important;

    --channels-default: #ae9e7b !important;
    --channel-icon: #ae9e7b !important;

    --background-primary: #282828 !important;
    --background-secondary: #282828 !important;
    --background-secondary-alt: #242424 !important;
    --background-tertiary: #242424 !important;

    --background-modifier-hover: #383838 !important;
    --background-modifier-selected: #383838 !important;
    --background-accent: #383838 !important;

    --channeltextarea-background: #383838 !important;
  }

  div[class^=homeContainer] {
    background-color: #2c2c2c !important;
  }

  /* firefox doesn't have `:has`, but i'm leaving this here just so I can remember what I was trying to do */
  div:has(* div[class^=homeContainer]) section[class^=title] {
    background-color: #2c2c2c !important;
  }
}
